<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isabel.garagesale">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/garagesale_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".CategoryTab"
            android:label="@string/title_activity_category_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".savedPage"
            android:label="@string/title_activity_saved_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".EndDateSelector" />
        <activity android:name=".StartDateSelector" />
        <activity android:name=".StartTimeSelector"></activity>
        <activity android:name=".EndTimeSelector"></activity>
    </application>

</manifest>